body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Light {
  color: #000;
  background-color: #ffffff;
}

.Dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  /* color: white; */
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}
p, h1, h2, h3, input, button {
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #1b1b1b;
  color: white;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

/* ==============
signin/signup pages
=================*/
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 50px auto;
}
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  color: black;
}
button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
button:active {
  scale: 0.9;
}
p {
  text-align: center;
  font-size: 15px;
}

main {
  min-height: 80vh;
  padding: 20px;
}
